.searching__form {
  background-color: rgb(11, 88, 177);
  width: 60%;
  margin: auto;
  padding: 40px 0;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  left: 20%;
}

.searching__form input {
  border-radius: 5px;
  border: none;
  background-color: rgb(63, 126, 189);

  margin: 15px;
  padding: 8px;
  color: black;
}

input[type="submit"] {
  border-radius: 20px;
  width: 15%;
  background-color: rgb(16, 207, 134);
  position: absolute;
  margin-top: 90px;
  left: 42%;
  padding: 10px 0;
}
